<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="./stylesheets/weather-icons.min.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <title>Forecast App</title>
</head>
<body>
  {{> header}}
  <main>
    <h1>About</h1>
    <p>Created to continue getting practice with Node.js and Express. The two APIs being used are the <a href="https://www.mapbox.com/">mapbox api</a> for geocoding and the <a href="https://weatherstack.com/">weatherstack api</a> to get the forecast information.</p>
    <img src="./images/DSC_2094.JPG" alt="profile pic">
  </main>
  {{> footer}}
</body>
</html>