<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="./stylesheets/weather-icons.min.css">
  <title>Forecast App</title>
</head>
<body>
  {{> header}}
  <main>
    <h1>Help</h1>
    <p>Please create an issue <a href="https://github.com/bal360/weather-away/issues">on GitHub</a> if you run into any issues or have suggestions. Thanks!</p>
  </main>
  {{> footer}}
</body>
</html>