<header>
  <nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="/" class="brand-logo"><i class="wi wi-day-sunny-overcast"></i>Weather Away</a>
      <ul class="right">
        <li><a href="/"><i class="material-icons">home</i></a></li>
        <li><a href="/about"><i class="material-icons">info</i></a></li>
        <li><a href="/help"><i class="material-icons">help</i></a></li>
      </ul>
    </div>
  </nav>
</header>